**/.vim/*
Global/.config/zsh/.zcompdump
Global/.config/zsh/.zcompdump.zwc
Global/.config/zsh/.zhistory
Global/.config/zsh/.zlogin
Global/.config/zsh/.zlogout
Global/.config/zsh/.zprezto/
Global/.config/zsh/.zprofile
Global/.config/zsh/.zshenv
