[user]
name = Kyle Rich
	email = yutakafrog@gmail.com

[push]
default = matching

[core]
editor = vim
excludesfile = ~/.gitignore

# TODO: Add credential.helper = osxkeychain or cache, depending on OS