[user]
    name = Kyle Rich
    email = yutakafrog@gmail.com

[push]
    default = tracking

[core]
    autocrlf = input
    commitGraph = true
    editor = vim
    excludesfile = ~/.config/git/ignore

[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

# TODO: Add credential.helper = osxkeychain, wincred, or cache, depending on OS
[credential]
    helper = {{ {'Linux': 'cache', 'Darwin': 'osxkeychain'}[YADM_OS] }}

[tig]
    line-graphics = utf-8
    main-view-id = yes
    main-view-line-number = yes
    main-view-line-number-interval = 1

# [protocol]
#     version = 2

[pager]
    branch = false
